<a href="https://colab.research.google.com/github/krishnaprasadlenka/python-/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NOW LET'S START WITH THE PANDAS

first import the library and create the object

In [2]:
import pandas as pd #pd is the object here

In [3]:
pd.__version__#to find the version

'2.2.2'

now lets start with the lists in python list with pandas

In [4]:
list=[1,2,3,4,5]#list is the collection of data
print(list)

[1, 2, 3, 4, 5]

In [6]:
series=pd.Series(list)#with this u can label the indexes (pandas series using list )
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
#how to create an empty series
empty=pd.Series([])
empty

Series([], dtype: object)

In [9]:
#here how we define our own indexes  and name to the data
s=pd.Series([1,2,3,4,5,6] , index=["a","b","c","d","e","f"], name="numbers")
s

a    1
b    2
c    3
d    4
e    5
f    6
Name: numbers, dtype: int64